.u-section-1 .u-sheet-1 {
  min-height: 217px;
}

.u-section-1 .u-text-1 {
  font-family: "Advent Pro";
  margin: 40px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-family: "Advent Pro";
  font-size: 1.5rem;
  margin: 20px auto -123px 40px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 217px;
}

.u-section-2 .u-text-1 {
  font-family: "Advent Pro";
  margin: 40px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-family: "Advent Pro";
  font-size: 1.5rem;
  margin: 20px auto 0 30px;
}

.u-section-2 .u-text-3 {
  font-family: "Advent Pro";
  font-size: 1rem;
  margin: -25px auto 40px 392px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 296px;
    margin-bottom: 53px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    margin-right: 76px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 42px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 851px;
}

.u-section-3 .u-text-1 {
  font-family: "Advent Pro";
  margin: 40px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-family: "Advent Pro";
  font-size: 1.5rem;
  font-weight: 600;
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-family: "Advent Pro";
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 auto 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-family: "Advent Pro";
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 auto 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-family: "Advent Pro";
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 auto 0 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-line-1 {
  margin-top: 20px;
  margin-bottom: 0;
  transform-origin: left center 0px;
  border-style: dotted;
}

.u-section-3 .u-text-6 {
  font-family: "Advent Pro";
  font-size: 1.5rem;
  font-weight: 600;
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-line-2 {
  transform-origin: left center 0px;
  border-style: dotted;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-text-7 {
  font-family: "Advent Pro";
  font-size: 1.5rem;
  font-weight: 600;
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-8 {
  font-family: "Advent Pro";
  font-weight: 600;
  font-size: 1.25rem;
  width: 543px;
  margin: 0 auto 0 40px;
}

.u-section-3 .u-text-9 {
  font-family: "Advent Pro";
  font-weight: 600;
  font-size: 1.25rem;
  width: 648px;
  margin: 0 auto 0 40px;
}

.u-section-3 .u-text-10 {
  font-family: "Advent Pro";
  font-weight: 600;
  font-size: 1.25rem;
  width: 440px;
  margin: 0 auto 0 40px;
}

.u-section-3 .u-text-11 {
  font-family: "Advent Pro";
  font-weight: 600;
  font-size: 1.25rem;
  width: 470px;
  margin: 0 auto 0 40px;
}

.u-section-3 .u-text-12 {
  font-family: "Advent Pro";
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0 auto 0 40px;
}

.u-section-3 .u-line-3 {
  transform-origin: left center 0px;
  border-style: dotted;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-text-13 {
  font-family: "Advent Pro";
  font-size: 1.5rem;
  font-weight: 600;
  margin: 20px auto 40px 0;
}

.u-section-3 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-10 {
  background-image: none;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 1rem;
    margin-top: 20px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1rem;
    width: 540px;
    margin-top: 13px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1rem;
    width: auto;
    margin-top: 12px;
  }

  .u-section-3 .u-text-11 {
    font-size: 1rem;
    width: auto;
    margin-top: 13px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1rem;
    width: auto;
    margin-top: 13px;
  }

  .u-section-3 .u-text-13 {
    font-size: 1rem;
    width: auto;
    margin-bottom: -36px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-top: 0;
  }

  .u-section-3 .u-text-11 {
    margin-top: 0;
  }

  .u-section-3 .u-text-12 {
    margin-top: 0;
  }

  .u-section-3 .u-text-13 {
    margin-bottom: 29px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 865px;
}

.u-section-4 .u-text-1 {
  font-family: "Advent Pro";
  margin: 40px auto 0 0;
}

.u-section-4 .u-tabs-1 {
  min-height: 673px;
  margin-top: 20px;
  margin-bottom: 40px;
  height: auto;
}

.u-section-4 .u-tab-link-1 {
  font-family: "Advent Pro";
  font-size: 1.5rem;
  background-image: none;
}

.u-section-4 .u-tab-link-2 {
  font-family: "Advent Pro";
  font-size: 1.5rem;
  background-image: none;
}

.u-section-4 .u-tab-link-3 {
  font-family: "Advent Pro";
  font-size: 1.5rem;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-4 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 616px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-4 .u-text-2 {
  font-family: "Advent Pro";
  font-size: 1.5rem;
  width: auto;
  margin: 0 204px 0 0;
}

.u-section-4 .u-text-3 {
  font-family: "Advent Pro";
  margin: -28px auto 0 881px;
}

.u-section-4 .u-text-4 {
  font-family: "Advent Pro";
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-4 .u-text-5 {
  font-family: "Advent Pro";
  font-size: 1.5rem;
  width: auto;
  margin: 0 204px 0 0;
}

.u-section-4 .u-text-6 {
  font-family: "Advent Pro";
  margin: -28px auto 0 881px;
}

.u-section-4 .u-text-7 {
  font-family: "Advent Pro";
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-4 .u-text-8 {
  font-family: "Advent Pro";
  font-size: 1.5rem;
  width: auto;
  margin: 0 204px 0 0;
}

.u-section-4 .u-text-9 {
  font-family: "Advent Pro";
  margin: -28px auto 0 881px;
}

.u-section-4 .u-text-10 {
  font-family: "Advent Pro";
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-4 .u-text-11 {
  font-family: "Advent Pro";
  font-size: 1.5rem;
  width: auto;
  margin: 0 204px 0 0;
}

.u-section-4 .u-text-12 {
  font-family: "Advent Pro";
  margin: -28px auto 0 881px;
}

.u-section-4 .u-text-13 {
  font-family: "Advent Pro";
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-4 .u-text-14 {
  font-family: "Advent Pro";
  font-size: 1.5rem;
  width: auto;
  margin: 0 204px 0 0;
}

.u-section-4 .u-text-15 {
  font-family: "Advent Pro";
  margin: -28px auto 0 881px;
}

.u-section-4 .u-text-16 {
  font-family: "Advent Pro";
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 0 10px;
}

.u-section-4 .u-text-17 {
  font-family: "Advent Pro";
  font-size: 1.5rem;
  width: auto;
  margin: 0 204px 0 0;
}

.u-section-4 .u-text-18 {
  font-family: "Advent Pro";
  margin: -28px auto 0 881px;
}

.u-section-4 .u-text-19 {
  font-family: "Advent Pro";
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

.u-section-4 .u-group-1 {
  min-height: 230px;
  height: auto;
  width: 1040px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-9 {
  padding: 0;
}

.u-section-4 .u-list-2 {
  width: 1116px;
  margin: 0 -6px 0 auto;
}

.u-section-4 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 194px;
}

.u-section-4 .u-container-layout-10 {
  padding: 0 10px;
}

.u-section-4 .u-text-20 {
  font-family: "Advent Pro";
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-21 {
  font-family: "Advent Pro";
  margin: -33px auto 0 878px;
}

.u-section-4 .u-container-layout-11 {
  padding: 0 10px;
}

.u-section-4 .u-text-22 {
  font-family: "Advent Pro";
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
}

.u-section-4 .u-text-23 {
  font-family: "Advent Pro";
  margin: -33px auto 0 878px;
}

.u-section-4 .u-container-layout-12 {
  padding: 0 10px;
}

.u-section-4 .u-text-24 {
  font-family: "Advent Pro";
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
}

.u-section-4 .u-text-25 {
  font-family: "Advent Pro";
  margin: -33px auto 0 878px;
}

.u-section-4 .u-container-layout-13 {
  padding: 0 10px;
}

.u-section-4 .u-text-26 {
  font-family: "Advent Pro";
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
}

.u-section-4 .u-text-27 {
  font-family: "Advent Pro";
  margin: -33px auto 0 878px;
}

.u-section-4 .u-container-layout-14 {
  padding: 0 10px;
}

.u-section-4 .u-text-28 {
  font-family: "Advent Pro";
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
}

.u-section-4 .u-text-29 {
  font-family: "Advent Pro";
  margin: -33px auto 0 878px;
}

.u-section-4 .u-container-layout-15 {
  padding: 0;
}

.u-section-4 .u-list-3 {
  width: 1017px;
  margin: 20px auto 0;
}

.u-section-4 .u-repeater-3 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 422px;
}

.u-section-4 .u-container-layout-16 {
  padding: 0 10px;
}

.u-section-4 .u-text-30 {
  font-family: "Advent Pro";
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
}

.u-section-4 .u-text-31 {
  font-family: "Advent Pro";
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-17 {
  padding: 0 10px;
}

.u-section-4 .u-text-32 {
  font-family: "Advent Pro";
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
}

.u-section-4 .u-text-33 {
  font-family: "Advent Pro";
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-18 {
  padding: 0 10px;
}

.u-section-4 .u-text-34 {
  font-family: "Advent Pro";
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
}

.u-section-4 .u-text-35 {
  font-family: "Advent Pro";
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 28px;
    margin-left: 653px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -59px;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: -33px;
    margin-left: 653px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: -3px;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: -33px;
    margin-left: 653px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: -3px;
    margin-right: 0;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-top: -33px;
    margin-left: 653px;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-top: -3px;
    margin-right: 0;
  }

  .u-section-4 .u-text-15 {
    width: auto;
    margin-top: -33px;
    margin-left: 653px;
  }

  .u-section-4 .u-text-16 {
    width: auto;
    margin-top: -3px;
    margin-right: 0;
  }

  .u-section-4 .u-text-18 {
    width: auto;
    margin-top: -33px;
    margin-left: 653px;
  }

  .u-section-4 .u-text-19 {
    width: auto;
    margin-top: -3px;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    min-height: 414px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-4 .u-container-layout-9 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-list-2 {
    width: 940px;
    margin-right: -60px;
    margin-bottom: -122px;
  }

  .u-section-4 .u-repeater-2 {
    min-height: 383px;
  }

  .u-section-4 .u-text-20 {
    width: auto;
    margin-right: 367px;
    margin-left: 0;
  }

  .u-section-4 .u-text-21 {
    width: auto;
    margin-top: -70px;
    margin-left: 701px;
  }

  .u-section-4 .u-text-22 {
    width: auto;
    margin-right: 367px;
    margin-left: 0;
  }

  .u-section-4 .u-text-23 {
    width: auto;
    margin-top: -70px;
    margin-left: 701px;
  }

  .u-section-4 .u-text-24 {
    width: auto;
    margin-right: 367px;
    margin-left: 0;
  }

  .u-section-4 .u-text-25 {
    width: auto;
    margin-top: -70px;
    margin-left: 701px;
  }

  .u-section-4 .u-text-26 {
    width: auto;
    margin-right: 367px;
    margin-left: 0;
  }

  .u-section-4 .u-text-27 {
    width: auto;
    margin-top: -70px;
    margin-left: 701px;
  }

  .u-section-4 .u-text-28 {
    width: auto;
    margin-right: 367px;
    margin-left: 0;
  }

  .u-section-4 .u-text-29 {
    width: auto;
    margin-top: -70px;
    margin-left: 701px;
  }

  .u-section-4 .u-list-3 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1252px;
  }

  .u-section-4 .u-tabs-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -186px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 811px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -76px;
    margin-left: 447px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 48px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -140px;
    margin-left: 447px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 0;
  }

  .u-section-4 .u-text-9 {
    margin-top: -140px;
    margin-left: 447px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 0;
  }

  .u-section-4 .u-text-12 {
    margin-top: -140px;
    margin-left: 447px;
  }

  .u-section-4 .u-text-13 {
    margin-top: 0;
  }

  .u-section-4 .u-text-15 {
    margin-top: -140px;
    margin-left: 447px;
  }

  .u-section-4 .u-text-16 {
    margin-top: 0;
  }

  .u-section-4 .u-text-18 {
    margin-top: -140px;
    margin-left: 447px;
  }

  .u-section-4 .u-text-19 {
    margin-top: 0;
  }

  .u-section-4 .u-list-2 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-4 .u-text-20 {
    margin-right: 232px;
  }

  .u-section-4 .u-text-21 {
    margin-top: -66px;
    margin-left: 521px;
  }

  .u-section-4 .u-text-22 {
    margin-right: 232px;
  }

  .u-section-4 .u-text-23 {
    margin-top: -66px;
    margin-left: 521px;
  }

  .u-section-4 .u-text-24 {
    margin-right: 232px;
  }

  .u-section-4 .u-text-25 {
    margin-top: -66px;
    margin-left: 521px;
  }

  .u-section-4 .u-text-26 {
    margin-right: 232px;
  }

  .u-section-4 .u-text-27 {
    margin-top: -66px;
    margin-left: 521px;
  }

  .u-section-4 .u-text-28 {
    margin-right: 232px;
  }

  .u-section-4 .u-text-29 {
    margin-top: -66px;
    margin-left: 521px;
  }

  .u-section-4 .u-list-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-tab-link-3 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -37px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 662px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    margin-top: 9px;
    margin-right: 64px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -34px;
    margin-left: 356px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
    margin-top: 9px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
    margin-top: 9px;
    margin-right: 64px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -84px;
    margin-left: 356px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 1rem;
    margin-top: 9px;
    margin-right: 64px;
  }

  .u-section-4 .u-text-9 {
    margin-top: -84px;
    margin-left: 356px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-11 {
    font-size: 1rem;
    margin-top: 9px;
    margin-right: 64px;
  }

  .u-section-4 .u-text-12 {
    margin-top: -84px;
    margin-left: 356px;
  }

  .u-section-4 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-14 {
    font-size: 1rem;
    margin-top: 9px;
    margin-right: 64px;
  }

  .u-section-4 .u-text-15 {
    margin-top: -84px;
    margin-left: 356px;
  }

  .u-section-4 .u-text-16 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-17 {
    font-size: 1rem;
    margin-top: 9px;
    margin-right: 64px;
  }

  .u-section-4 .u-text-18 {
    margin-top: -84px;
    margin-left: 356px;
  }

  .u-section-4 .u-text-19 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-list-2 {
    width: 540px;
  }

  .u-section-4 .u-text-20 {
    font-size: 1rem;
    margin-right: 32px;
  }

  .u-section-4 .u-text-21 {
    margin-left: 440px;
  }

  .u-section-4 .u-text-22 {
    font-size: 1rem;
    margin-right: 32px;
  }

  .u-section-4 .u-text-23 {
    margin-left: 440px;
  }

  .u-section-4 .u-text-24 {
    font-size: 1rem;
    margin-right: 32px;
  }

  .u-section-4 .u-text-25 {
    margin-left: 440px;
  }

  .u-section-4 .u-text-26 {
    font-size: 1rem;
    margin-right: 32px;
  }

  .u-section-4 .u-text-27 {
    margin-left: 440px;
  }

  .u-section-4 .u-text-28 {
    font-size: 1rem;
    margin-right: 32px;
  }

  .u-section-4 .u-text-29 {
    margin-left: 440px;
  }

  .u-section-4 .u-list-3 {
    width: 540px;
  }

  .u-section-4 .u-text-30 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-31 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-32 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-33 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-34 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-35 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1365px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 120px;
    margin-left: 214px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -170px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: 20px;
    margin-left: 214px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-top: 20px;
    margin-left: 214px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 0;
  }

  .u-section-4 .u-text-12 {
    margin-top: 20px;
    margin-left: 214px;
  }

  .u-section-4 .u-text-14 {
    margin-right: 0;
  }

  .u-section-4 .u-text-15 {
    margin-top: 20px;
    margin-left: 214px;
  }

  .u-section-4 .u-text-17 {
    margin-right: 0;
  }

  .u-section-4 .u-text-18 {
    margin-top: 20px;
    margin-left: 214px;
  }

  .u-section-4 .u-list-2 {
    width: 340px;
  }

  .u-section-4 .u-text-20 {
    margin-right: 0;
  }

  .u-section-4 .u-text-21 {
    margin-left: 271px;
  }

  .u-section-4 .u-text-22 {
    margin-right: 0;
  }

  .u-section-4 .u-text-23 {
    margin-left: 271px;
  }

  .u-section-4 .u-text-24 {
    margin-right: 0;
  }

  .u-section-4 .u-text-25 {
    margin-left: 271px;
  }

  .u-section-4 .u-text-26 {
    margin-right: 0;
  }

  .u-section-4 .u-text-27 {
    margin-left: 271px;
  }

  .u-section-4 .u-text-28 {
    margin-right: 0;
  }

  .u-section-4 .u-text-29 {
    margin-left: 271px;
  }

  .u-section-4 .u-list-3 {
    width: 340px;
  }
}